name: CI

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    permissions:
      contents: read
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Generate release directory
        run: make

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
            path: release

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4

